/* 
1. Posicionamiento
2. Modelo de caja (Box model)
3. Tipografia
4. Estilos visuales (shadow border)
5. Otros
*/

:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --sof-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFF;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* Header */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    align-self: center;
    width: 150px;
    height: 24px;
    margin-top: 60px;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
}

/* main */

.main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container .background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/img/bitcoin.svg");
    /* para que la imagen no se deforme */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

/* Grid prices */

.coins--section {
    position: relative;
    display: block;
    max-width: 500px;
    min-width: 235px;
    width: 70%;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;

    transform: translateX(0);
    
}

@keyframes section1 {
    0%{
        transform: translateX(-40px);
    }
    100%{
        transform: translateX(0);
    }
}

.coins--section2 {
    position: relative;
    display: none;
    max-width: 500px;
    min-width: 235px;
    width: 70%;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;

    transform: translateX(0px);

}

@keyframes section2 {
    0%{
        transform: translateX(40px);
    }
    100%{
        transform: translateX(0);
    }
}

.coins--section .coins--section--title {
    margin-left: 20px;
    display: flex;
    margin-bottom: 15px;
    color: var(--bitcoin-orange);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
}

.coins--section2 .coins--section--title2 {
    margin-left: 20px;
    display: flex;
    margin-bottom: 15px;
    color: var(--secondary-blue);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
}

.grid--coins--section--table {
    min-width: 230px;
    max-width: 300px;
    width: 90%;
    height: 220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(4, 50px);
    gap: 3px;
    grid-template-areas: "coin1 price1"
                        "coin2 price2"
                        "coin3 price3"
                        "coin4 price4";
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.grid--coins--section--table div{
    padding: 14px;    
    background: var(--off-white);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
}

.coin1 {
    grid-area: coin1;
    border-radius: 15px 0 0 0;
}

.coin2 {
    grid-area: coin2;
}

.coin3 {
    grid-area: coin3;
}

.coin4 {
    grid-area: coin4;
    border-radius: 0 0 0 15px;
}


.price1 {
    grid-area: price1;
    border-radius: 0 15px 0 0;
}

.price1 span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.price2 {
    grid-area: price2;
}

.price2 span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-up.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.price3 {
    grid-area: price3;
}

.price3 span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.price4 {
    grid-area: price4;
    border-radius: 0 0 15px 0;
}

.price4 span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../assets/icons/trending-down.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid--coins--section--table .price1,
.grid--coins--section--table .price2,
.grid--coins--section--table .price3,
.grid--coins--section--table .price4 {
    
    font-weight: normal;
    color: #757575;
    line-height: 1.7rem;
}

.date-price-orange {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;

}

.date-price-orange p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}

.date-price-blue {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--sof-blue);
    border-radius: 8px;
}

.date-price-blue p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
    font-weight: 300;
}

.right__arrow{
    position: absolute;
    background-image: url("../assets/icons/right-arrow.svg");
    width: 20px;
    height: 20px;
    right: calc(40% - 110px);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: var(--just-white);
    cursor: pointer;
}

.left__arrow{
    transform: rotate(180deg);
    position: absolute;
    background-image: url("../assets/icons/right-arrow.svg");
    width: 20px;
    height: 20px;
    left: calc(40% - 110px);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: var(--just-white);
    cursor: pointer;
}

/* Seccion de detalle de productos */

.main__product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product__detail--batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url(../assets/icons/batata.svg);
    top: -10px;
    left: calc(50% - 20px);
}

.product__detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product__detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product__detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product__detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: #282623;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product__detail--card .clock__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product__detail--card .eye__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/eye.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product__detail--card .dollar__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/dollar-sign.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product__detail--card .check__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/check-circle.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product__card--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product__card--body {
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/* Seccion img comodin */

.bitcoin__img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(../assets/img/bitcoinbaby2x.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.bitcoin__img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

/* Seccion de planes */

.main__plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
    background-color: var(--off-white);
}

.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans__container--card {
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 300px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}

.recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    background-color: var(--bitcoin-orange);
    border-radius: 5px;
    color: var(--just-white);
    padding: 6px;
}

.plan-card--tittle {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-card--price {
    position: relative;
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: var(--black);
}

.plan-card--price span {
    position: absolute;
    right: calc(68%);
    top: -5px;
    font-size: 1.2rem;
    font-weight: 300;
}

.plan-card--saving {
    font-size: 1.2rem;
    color: #757575;
}

.plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
}